<link rel="stylesheet" href="./modules/element-plus/element-plus.css">
<div style="position: absolute; inset: 0;">
<style>*{ font-family: Consolas, "宋体", monospace;}</style>

<resizable-widget v-deep open ref="box">
    <style>#myApp resizable-widget>>> { min-width: 360px; min-height: 330px; }</style>
    <div slot="widget-caption" style="display: flex; justify-content: space-between;">
        <span>
            <span>{{username}}<span v-if="!!username">@</span></span>
            <span>成语接龙</span>
        </span>
        <div style="font-family: 'SDK_SC_Web', monospace; display: flex;">
            <div v-show="networkTimeout >= 0" :style="networkTimeout_style">{{networkTimeout}}ms</div>
            <a href="#" style="margin-left: 0.5em;" v-show="!!username" @click.prevent="logout" data-exclude-bindmove>退出</a>
        </div>
    </div>

    <main>
        <div class=login-ui v-deep v-if="current_page === 'login'" style="max-width: 50%; min-width: 250px;">
            <ElForm size="large" :model="login_form" label-width="40px" @submit.prevent="uLogin">
                <ElFormItem label="账号">
                    <ElInput required v-model="login_form.name" />
                </ElFormItem>
                
                <ElFormItem label="密码">
                    <ElInput required v-model="login_form.pswd" type="password" />
                </ElFormItem>
                
                <ElFormItem label="记住">
                    <ElCheckbox v-model="login_form.remember" label="30天内记住我的登录凭据，以便下次可以自动登录" style="white-space: normal;" />
                </ElFormItem>

                <ElFormItem label="登录">
                    <button type="submit" :disabled="isLogging" style="flex: 1; display: flex;"><ElButton type="primary" plain :disabled="isLogging" style="flex: 1;">立即登录</ElButton></button>
                </ElFormItem>

                <ElFormItem label="没有账号">
                    <ElButton :disabled="isLogging" style="flex: 1;" @click="current_page = 'reg'">没有账号，去注册</ElButton>
                </ElFormItem>
            </ElForm>
        </div>
        <style>.login-ui>>> button[type="submit"]{all:initial}</style>
        <div class=login-ui v-deep v-if="current_page === 'reg'" style="max-width: 50%; min-width: 250px;">
            <ElForm size="large" :model="reg_form" label-width="40px" @submit.prevent="uRegister">
                <ElFormItem label="账号">
                    <ElInput required v-model="reg_form.name" />
                </ElFormItem>
                
                <ElFormItem label="密码">
                    <ElInput required v-model="reg_form.pswd" type="password" />
                </ElFormItem>

                <ElFormItem label="注册">
                    <button type="submit" :disabled="isLogging" style="flex: 1; display: flex;"><ElButton type="primary" plain :disabled="isLogging" style="flex: 1;">立即注册</ElButton></button>
                    <ElButton :disabled="isLogging" style="margin-left: 0.5em;" @click="current_page = 'login'">返回</ElButton>
                </ElFormItem>
            </ElForm>
        </div>

        <div class=xbig v-if="current_page === 'new'">
            <div class="bold">创建对局...</div>
            <ElButton type="primary" plain size="large" @click="createOrJoinSession(false)">立即创建</ElButton>
            <hr>
            <div class="bold">加入对局...</div>
            <form @submit.prevent="createOrJoinSession(true)" style="display: flex; align-items: center;">
                <ElInput type="text" v-model="addsess_value" size="large" required style="flex: 1" placeholder="对局 ID..." :clearable="true" />
                <ElButton @click="createOrJoinSession(true)" type="primary" plain size="large" style="margin-left: 0.5em">立即加入</ElButton>
            </form>
            <hr>
            <div class="bold">更改密码...</div>
            <ElButton type="primary" plain size="large" @click="current_page = 'change_password'">立即更改</ElButton>
        </div>

        <div class=login-ui v-deep v-if="current_page === 'change_password'" style="max-width: 50%; min-width: 250px;">
            <ElForm size="large" :model="chpswd" label-width="40px" @submit.prevent="changePswd">
                <ElFormItem label="原密码">
                    <ElInput required v-model="chpswd.pswd1" type="password" />
                </ElFormItem>
                <ElFormItem label="新密码">
                    <ElInput required v-model="chpswd.pswd2" type="password" />
                </ElFormItem>
                <ElFormItem label="确认密码">
                    <ElInput required v-model="chpswd.pswd3" type="password" />
                </ElFormItem>

                <ElFormItem label="更改密码">
                    <button type="submit" :disabled="isLogging" style="flex: 1; display: flex;"><ElButton type="primary" plain :disabled="isLogging" style="flex: 1;">立即更改</ElButton></button>
                </ElFormItem>
            </ElForm>
        </div>

        <div v-if="current_page === 'run'">
            <ElCard>
                <div class="card-header" v-deep>
                    <span style="user-select: none;">对局 ID: <span style="user-select: all;" v-text="sessionId"></span></span>
                    <span>
                        <ElButton text @click="copySid">复制</ElButton>
                        <ElButton v-if="isGameEnded" type="primary" text @click="reloadPage">重新加载</ElButton>
                        <template v-else>
                            <ElButton type="danger" text @click="endSess" v-if="isHost && (sestate != 100)">结束</ElButton>
                            <ElButton type="danger" text @click="leaveSess(false)" v-else>离开</ElButton>
                        </template>
                    </span>
                </div>
                <div class="semem" v-deep v-if="semembers">
                    <span>成员: (<span v-text="semembers.length"></span>)</span>
                    <a href="#" @click.prevent="sememctl(true)" style="margin-left: 0.5em;">查看</a>
                </div>
                <div v-deep class="card-header" v-if="roundCount > 0">
                    <div>
                        <span>对局记录:</span>
                        <span style="margin-left: 0.5em;">第{{roundCount}}轮</span>
                    </div>
                    <div>
                        <ElButton text @click="viewRecord">查看</ElButton>
                    </div>
                </div>
                <div v-if="isLoser" class="loser-toptip" v-deep>你已经认输，可以继续观战或选择离开。</div>
                <style>
                .card-header>>> {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
                .card-header>>> button {
                    margin-left: 0;
                }
                .semem>>> {
                    text-align: left;
                }
                .semembers:modal>>> {
                    display: flex;
                }
                .loser-toptip>>> {
                    display: block;
                    background-color: rgba(255,0,0,0.1);
                    padding: 5px;
                    border: 1px solid gray;
                    border-radius: 10px;
                }
                </style>
            </ElCard>
            <dialog v-deep class="semembers" ref="sememdlg" style="min-width: 300px; flex-direction: column; min-height: 300px;">
                <div style="font-size: xx-large; font-weight: bold;">对局成员</div>
                <ElTable :data="semembersComputed" style="width: 100%; flex: 1; overflow: auto;">
                    <ElTableColumn prop="name" label="用户名">
                        <template #default="scope">
                            <span :style="({color:(scope.row.isLoser?'mediumseagreen':'inherit')})">{{scope.row.name}}</span>
                        </template>
                    </ElTableColumn>
                    <ElTableColumn fixed="right" label="操作" width="90">
                        <template #default="scope">
                            <ElButton plain type="danger" v-if="isHost" @click="leaveSessByUserIndex(scope.$index)">请离</ElButton>
                        </template>
                    </ElTableColumn>
                </ElTable>

                <div style="text-align: right; margin-top: 1em;">
                    <ElButton type="primary" plain @click="sememctl(false)">关闭</ElButton>
                </div>
            </dialog>
            <div style="flex: 1" class="app-area" v-if="sestate === 1">
                <div style="font-size: 2em; font-weight: bold;">正在等待他人加入...</div>
                <div v-if="semembers" style="margin: 1em 0;">已加入: {{semembers.length}} (<a href="#" @click.prevent="sememctl(true)">点击查看</a>)</div>
                <div v-if="isHost">
                    <ElButton type=primary plain size="large" @click="StartGame" :disabled="IsGameStarting">在完成加入后，点击此按钮进入下一步</ElButton>
                </div>
            </div>
            <div style="flex: 1" class="app-area" v-if="sestate === 2">
                <template v-if="isHost">
                    <div style="font-size: 2em; font-weight: bold;">输入一个成语，开始接龙</div>
                    <div class="user-input-widget" v-deep><ElInput v-model="userInput_beg" size="large" /></div>
                    <ElCheckbox v-model="userInput_noRepeat" label="不允许重复" />
                    <div style="margin-top: 1em;">
                        <ElButton type=primary plain size="large" @click="StartGame(2)">开始</ElButton>
                    </div>
                </template>
                <template v-else>
                    <h1>请耐心等待<span v-if="semembers" v-text="sehost"></span>开始接龙。</h1>
                </template>
            </div>
            <div style="flex: 1" id="mainInputArea" class="app-area" v-if="sestate === 16">
                <div style="font-size: x-large; " v-deep class="current-state-list">
                    <ElDescriptions :column="1" size="large" border v-deep>
                        <ElDescriptionsItem>
                            <template #label>当前接龙</template>
                            <span v-text="currentDragon" :style="({color:(currentDragon===username)?'red':undefined})"></span>
                        </ElDescriptionsItem>
                        <ElDescriptionsItem>
                            <template #label>当前成语</template>
                            <span v-text="currentPhrase"></span>
                        </ElDescriptionsItem>
                    </ElDescriptions>
                </div>
                <template v-if="currentDragon === username">
                    <div class="user-input-widget" v-deep><ElInput v-model="userInput" size="large" placeholder="请接..." @keydown.enter.prevent="SubmitDragon" /></div>
                    <div>
                        <ElButton type="primary" plain size="large" @click="SubmitDragon" :disabled="!userInput">提交</ElButton>
                        <!-- <ElButton type="info" plain size="large" @click="submitAppeal" v-if="canAppeal">申诉</ElButton> -->
                        <ElButton type="warning" plain size="large" @click="getSkip">跳过</ElButton>
                        <ElButton type="danger" plain size="large" @click="imLoser" :disabled="!!userInput">认输</ElButton>
                    </div><div style="margin-top: 1em;">
                        <!-- <ElButton color="#626aef" plain size="large" @click="getTip">求助</ElButton> -->
                    </div>
                </template>
                <style>.current-state-list>>> * { font-size: inherit !important; }.current-state-list>>> .el-descriptions__cell { padding: 20px !important; }</style>
            </div>
            <div style="flex: 1" class="app-area" v-if="sestate === 100">
                <h1 style="font-size: 2em; font-weight: bold;">对局已结束</h1>
                <div>赢家：<span v-text="winner"></span></div>
                <div style="margin-top: 1em;">
                    <ElButton type="primary" plain size="large" @click="leaveSess">离开对局</ElButton>
                    <ElButton size="large" @click="startWithSameMember" v-if="isHost">再来一局</ElButton>
                </div>
                <div v-if="!isHost" style="margin-top: 1em; color: gray;">
                    <span>可等待{{sehost}}发起「再次挑战」请求</span>
                </div>
            </div>
            <dialog v-deep ref="dragonRecord" style="min-width: 300px; flex-direction: column; min-height: 200px;">
                <div style="font-size: xx-large; font-weight: bold;">对局记录</div>
                <div style="text-align: right; margin-top: 1em;">
                    <ElButton type="primary" plain @click="$refs.dragonRecord.close()">关闭</ElButton>
                </div>
                <ElTable :data="dragonrecComputed" style="width: 100%; flex: 1; overflow: auto;">
                    <ElTableColumn prop="n" label="回合" width="60" />
                    <ElTableColumn prop="phrase" label="成语" />
                </ElTable>
            </dialog>
            <ElDialog v-if="username !== currentDragon" v-model="appealingPhraseDlg">
                <div style="font-size: x-large; white-space: normal;">有人想将此短语上报为成语。</div>
                <div><span v-text="appealingPhrase"></span></div>
                <div style="margin-top: 0.5em;">它是一个成语吗？</div>
                <div style="margin-top: 1em; text-align: right;">
                    <ElButton type="primary" plain @click="submitMyAppeal(true)">是的</ElButton>
                    <ElButton type="danger" plain @click="submitMyAppeal(false)">不是</ElButton>
                </div>
            </ElDialog>
            <ElDialog v-model="challengeAgain" :close-on-click-modal="false" :close-on-press-escape="false" :show-close="false">
                <div style="font-size: x-large; white-space: normal;">{{sehost}}发起了再次挑战请求。</div>
                <div style="text-align: center; color: gray; margin-top: 1em;">
                    <span>10秒内无操作将自动拒绝</span>
                </div>
                <div style="margin-top: 1em; display: flex;">
                    <ElButton style="flex: 1" type="primary" plain @click="submitChallAgainResp(true)" :disabled="challengeAgain_imagreed">{{challengeAgain_imagreed?'已':''}}同意</ElButton>
                    <ElButton style="flex: 1" type="danger" plain @click="submitChallAgainResp(false)" v-if="!challengeAgain_imagreed">拒绝</ElButton>
                </div>
            </ElDialog>
            <dialog ref="challengeAgain_agreedMembers_dlg" @cancel.prevent>
                <div style="font-size: xx-large; font-weight: bold;">正在发起再次挑战请求</div>
                <ElTable :data="challengeAgain_listMembers" style="width: 100%; flex: 1; overflow: auto;">
                    <ElTableColumn prop="name" label="用户名">
                        <template #default="scope">
                            <span :style="({color:(scope.row.isAgreed?'mediumseagreen':'inherit')})">{{scope.row.name}}</span>
                        </template>
                    </ElTableColumn>
                </ElTable>

                <div style="text-align: center; color: gray; margin-top: 1em;">
                    <span>10秒内无操作将自动取消</span>
                </div>
            </dialog>
            <style>.user-input-widget>>> {
                max-width: 50%;
                margin: 1em 0;
            }.user-input-widget>>> input {
                text-align: center;
                font-size: x-large;
            }</style>
        </div>
    </main>
</resizable-widget>

</div>