<div style="position: absolute; inset: 0;">
<style>*{ font-family: Consolas, "宋体", monospace;}</style>

<resizable-widget open ref="box">
    <div slot="widget-caption">
        <span>{{username}}<template v-if="!!username">@</template></span>成语接龙
        <a href="logout.php" data-exclude-bindmove style="position: absolute; right: 1em;">退出</a>
    </div>

    <main>
        <div class=xbig v-if="current_page === 'new'">
            <div class="bold">创建会话...</div>
            <ElButton type="primary" plain size="large" @click="createSession">立即创建</ElButton>
            <hr>
            <div class="bold">加入会话...</div>
            <form @submit.prevent="joinSession" style="display: flex; align-items: center;">
                <ElInput type="text" v-model="addsess_value" size="large" required style="flex: 1" placeholder="会话 ID..." :clearable="true" />
                <ElButton @click="joinSession" type="primary" plain size="large" style="margin-left: 0.5em">立即加入</ElButton>
            </form>
        </div>

        <div v-if="current_page === 'inProgress'">
            <ElCard>
                <div class="card-header" v-deep>
                    <span style="user-select: none;">会话 ID: <span style="user-select: all;" v-text="sessionId"></span></span>
                    <span>
                        <ElButton text @click="copySid">复制</ElButton>
                        <ElButton type="danger" text @click="endSess" v-if="canEndSess">结束</ElButton>
                        <ElButton type="danger" text @click="leaveSess" v-else>离开</ElButton>
                    </span>
                </div>
                <style>
                .card-header>>> {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
                .card-header>>> button {
                    margin-left: 0;
                }
                </style>
            </ElCard>
            <div style="flex: 1" id="mainInputArea">
                <style>.user-input-widget>>> {
                    scale: 2;
                    max-width: 50%;
                }.user-input-widget>>> input {
                    text-align: center;
                    font-size: x-large;
                }</style>
                <div class="user-input-widget" v-deep><ElInput v-model="userInput" size="large" /></div>
            </div>
        </div>
    </main>
</resizable-widget>

</div>